.logo {
  display: flex;
  font-family: "Raleway";
  margin-right: 93px;
  text-decoration: $textDecoration;
  font-weight: $fontWeightMiddle;
  font-size: 26px;
  line-height: 1.19;
  color: $acentColor;
}

.logo--append {
  color: $blackColor;
  transition: color $timeDuration;

  &:hover,
  &:focus {
    color: $acentColor;
  }
}
